openapi: 3.0.1
info:
  title: Task Management API v1
  description: |-
    
    This API exposes RESTful CRUD operations for tracking tasks. 
    
    Some useful links:
    - [Web UI](https://justluxurylifestyle.com/app/open-tasks)
    - [GitHUb source code](https://github.com/fahrican/get-things-done-api)

  version: 1.0.0
servers:
  - url: https://task-manager.justluxurylifestyle.com
    description: Generated server url
paths:
  /api/v1/tasks:
    get:
      tags:
        - task-controller
      operationId: getTasks
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - OPEN
              - CLOSED
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/TaskFetchResponse'
    post:
      tags:
        - task-controller
      operationId: createTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TaskFetchResponse'
  /api/v1/tasks/{id}:
    get:
      tags:
        - task-controller
      operationId: getTaskById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TaskFetchResponse'
    delete:
      tags:
        - task-controller
      operationId: deleteTask
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Unit'
    patch:
      tags:
        - task-controller
      operationId: updateTask
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TaskFetchResponse'
components:
  schemas:
    TaskCreateRequest:
      required:
        - description
        - isReminderSet
        - isTaskOpen
        - priority
        - timeInterval
      type: object
      properties:
        description:
          maxLength: 255
          minLength: 3
          type: string
        isReminderSet:
          type: boolean
        isTaskOpen:
          type: boolean
        startedOn:
          type: string
          format: date-time
        finishedOn:
          type: string
          format: date-time
        timeInterval:
          type: string
        timeTaken:
          type: integer
          format: int32
        priority:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
    TaskFetchResponse:
      required:
        - createdOn
        - description
        - isReminderSet
        - isTaskOpen
        - priority
        - timeInterval
      type: object
      properties:
        id:
          type: integer
          format: int64
        description:
          type: string
        isReminderSet:
          type: boolean
        isTaskOpen:
          type: boolean
        createdOn:
          type: string
          format: date-time
        startedOn:
          type: string
          format: date-time
        finishedOn:
          type: string
          format: date-time
        timeInterval:
          type: string
        timeTaken:
          type: integer
          format: int32
        priority:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
    TaskUpdateRequest:
      type: object
      properties:
        description:
          type: string
        isReminderSet:
          type: boolean
        isTaskOpen:
          type: boolean
        startedOn:
          type: string
          format: date-time
        finishedOn:
          type: string
          format: date-time
        timeInterval:
          type: string
        timeTaken:
          type: integer
          format: int32
        priority:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
    Unit:
      type: object
